#bbgallery-images .language-selector {
    font-size: 11px;
    margin: 0 10px 8px 0;
}

#bbgallery-images .language-selector {
    text-decoration: none;
    opacity: 0.8;
}

#bbgallery-images .language-selector.active {
    text-decoration: underline;
}

#bbgallery-images .description .detail {
    padding-top: 6px;
}

#bbgallery-images .description .detail:not(.active) {
    display: none;
}

#bbgallery-images .empty-descr {
    font-style: italic;
    opacity: 0.7;
}
