@import '../../../node_modules/baguettebox.js/dist/baguetteBox.min.css';
@import '../../node_modules/include-media/dist/_include-media.scss';

section#bbGallery {
    display: flex;
    flex-wrap: wrap;
}

section#bbGallery .image-wrapper {
    flex-grow: 1;
    margin: 2px;
    background-color: aliceblue;
    height: 200px;
}

section#bbGallery .image-thumb {
    height: 200px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
}

$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px) !default;

@include media(">=phone", "<desktop") {
    section#bbGallery .image-wrapper {
        height: 120px !important;
    }

    section#bbGallery .image-thumb {
        height: 120px !important;
    }
}

/*
@include media(">tablet", "<950px") {
}
*/